<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
      id="rogerthat-plugin"
      version="0.1.0">
    <name>Rogerthat</name>
    <description>Cordova Rogerthat Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, Rogerthat</keywords>

    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="RogerthatPlugin">
            <param name="android-package" value="com.mobicage.rogerthat.cordova.RogerthatPlugin" />
        </feature>
      </config-file>

      <source-file src="src/android/RogerthatPlugin.java" target-dir="src/com/mobicage/rogerthat/cordova" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RogerthatPlugin">
                <param name="ios-package" value="MCTRogerthatCordovaPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/MCTRogerthatCordovaPlugin.h" />
        <source-file src="src/ios/MCTRogerthatCordovaPlugin.m" />
    </platform>

    <js-module src="www/RogerthatPlugin.js" name="RogerthatPlugin">
      <clobbers target="rogerthat"/>
    </js-module>

    <js-module src="www/Sha256.js" name="Sha256">
      <clobbers target="sha256"/>
    </js-module>

</plugin>
